protobuf==3.20.3
numpy==1.23.5
tensorflow-cpu==2.13.0
scipy==1.11.2
networkx==3.1
image==1.5.33
lmdb==1.4.1
onnx==1.14.0
onnxoptimizer==0.3.13
onnxruntime==1.15.1
onnxsim==0.4.33
h5py==3.9.0
dill==0.3.7
ruamel.yaml==0.17.32
onnx-tf==1.10.0
ply==3.11
flatbuffers==23.5.26
Pillow==10.0.0
future==0.18.3
torch==1.13.1+cpu
torchvision==0.14.1+cpu
torchaudio==0.13.1+cpu

# Protobuf 3.20.3 is compatible with protoc in ubuntu 22.04
